<div class="w-full">
  <p class="text-center text-xl">Lista de productos</p>
  <ng-container *ngIf="elegitProducto">
    <div class="mt-4 w-full border-solid border-1 border-round-md border-300">
      <div class="w-full surface-100 p-2 border-round-md border-noround-bottom">
        <p class="text-lg">Buscar por</p>
      </div>
      <div class="grid my-2 px-2">
        <div class="col">
          <mat-form-field style="width: 100%;">
            <mat-label>Selecciona una categoría</mat-label>
            <mat-select [(ngModel)]="categoria">
              <ng-container *ngFor="let categoria of categorias;">
                <mat-option [value]="categoria.idCategoria">{{categoria.nombreCategoria}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field style="width: 100%;">
            <mat-label>Código de producto</mat-label>
            <input [(ngModel)]="codigo" matInput>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field style="width: 100%;">
            <mat-label>Modelo</mat-label>
            <input [(ngModel)]="modelo" matInput>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field style="width: 100%;">
            <mat-label>Selecciona un estado</mat-label>
            <mat-select [(ngModel)]="estado">
              <ng-container *ngFor="let estado of estados;">
                <mat-option [value]="estado.idEstadoProducto">{{estado.nombreEstadoProducto}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 flex flex-wrap justify-content-center gap-4">
          <button mat-raised-button color="danger" (click)="borrarFiltro()">Borrar</button>
          <button mat-raised-button class="bg-primary" (click)="filtrar()">Filtrar</button>
        </div>
      </div>
    </div>
    <div class="mt-4 w-full">
      <div class="w-full grid m-0">
        <div class="col p-0">
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
        <ng-container matColumnDef="id_producto">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.idProducto}} </td>
        </ng-container>
    
        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef> Categoria </th>
          <td mat-cell *matCellDef="let element"> {{element.categoria.nombreCategoria}} </td>
        </ng-container>
    
        <ng-container matColumnDef="codigo_producto">
          <th mat-header-cell *matHeaderCellDef> Código </th>
          <td mat-cell *matCellDef="let element"> {{element.codigoProducto}} </td>
        </ng-container>
    
        <ng-container matColumnDef="modelo">
          <th mat-header-cell *matHeaderCellDef> Modelo </th>
          <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
        </ng-container>
    
        <ng-container matColumnDef="estado_producto">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.estadoProducto.nombreEstadoProducto}} </td>
        </ng-container>
    
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <div class="w-max flex flex-wrap gap-3">
              <i class="bi bi-check2-circle cursor-pointer" (click)="elegir(element.idProducto)"></i>
            </div>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </ng-container>
  <ng-container *ngIf="!elegitProducto">
    <ng-container *ngFor="let producto of productosDataAdicional">
      <p class="mt-4 mb-4">Producto seleccionado: {{producto.nombreProducto}}</p>
      <div class="w-full grid">
        <div class="col">
          <mat-form-field style="width: 100%;">
            <mat-label>Valor del producto</mat-label>
            <input [(ngModel)]="producto.valor" matInput>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field style="width: 100%;">
            <mat-label>Serie del producto</mat-label>
            <input [(ngModel)]="producto.serie" matInput>
          </mat-form-field>
        </div>
        <div class="w-max flex flex-wrap justify-content-end align-content-center gap-4">
          <button type="button" mat-raised-button
            [ngClass]="{'opacity-50': producto.valor == 0 || producto.serie == ''}"
            [disabled]="producto.valor == 0 || producto.serie == ''"
            class="bg-primary"
            (click)="guardarProductos()">Guardar</button>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>