<div class="w-full">
  <p class="text-center text-xl">Lista de Proformas</p>
  <div class="mt-4 w-full border-solid border-1 border-round-md border-300">
    <div class="w-full surface-100 p-2 border-round-md border-noround-bottom">
      <p class="text-lg">Buscar por</p>
    </div>
    <div class="grid my-2 px-2">
      <div class="col">
        <mat-form-field style="width: 100%;">
          <mat-label>Nombre cliente</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field style="width: 100%;">
          <mat-label>Identificación cliente</mat-label>
          <input matInput>
        </mat-form-field>
      </div> 
      <div class="w-max col-fixed flex flex-wrap align-content-center">
        <button mat-raised-button class="bg-primary">Filtrar</button>
      </div>
    </div>
  </div>
  <div class="mt-4 w-full">
    <div class="w-full grid m-0">
      <div class="w-max flex align-content-center align-items-center">
        <button mat-raised-button>Agregar proforma</button>
      </div>
      <div class="col p-0">
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="idProforma">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{element.idProforma}} </td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.cliente.nombres}} </td>
      </ng-container>

      <ng-container matColumnDef="identificacion">
        <th mat-header-cell *matHeaderCellDef> Identificación cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.cliente.cedula}} </td>
      </ng-container>

      <ng-container matColumnDef="subtotal">
        <th mat-header-cell *matHeaderCellDef> Subtotal </th>
        <td mat-cell *matCellDef="let element"> {{element.subtotal | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="iva">
        <th mat-header-cell *matHeaderCellDef> Iva </th>
        <td mat-cell *matCellDef="let element"> {{element.iva | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{element.total | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <div class="w-max flex flex-wrap gap-3">
            <i matTooltip="Editar proforma" class="bi bi-pencil-square cursor-pointer"></i>
            <i matTooltip="Visualizar proforma" (click)="verProformaMetodo(element.idProforma)" class="bi bi-eye cursor-pointer"></i>
            <i matTooltip="Descargar proforma" (click)="descargarProformaMetodo(element.idProforma)" class="bi bi-download cursor-pointer"></i>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

<app-modal [width]="'1100px'" *ngIf="verProforma" titulo="Visualización de la proforma">
  <div app-content class="w-full">
      <app-documento_visualizacion [id_proforma]="id_proforma" (cerrarDescarga)="verProforma = false; id_proforma = 0;"></app-documento_visualizacion>
  </div>
  <div app-footer class="w-full flex justify-content-center pr-5">
    <div class="w-max flex gap-3">
      <button mat-raised-button class="bg-primary" (click)="verProforma = false; id_proforma = 0;">Aceptar</button>
    </div>
  </div>
</app-modal>
<div style="width: 900px;" class="mt-8" *ngIf="id_proforma!=0">
  <app-documento_visualizacion [id_proforma]="id_proforma" [descargar]="true" (cerrarDescarga)="id_proforma = 0;"></app-documento_visualizacion>
</div>
<!-- 
<app-modal [width]="'500px'" *ngIf="viewEditar" titulo="Editar producto">
  <div app-content class="w-full">
    <form action="" [formGroup]="productoFormGroup">
      <div class="col-12">
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Código de producto</mat-label>
          <input [readonly]="true" matInput formControlName="codigo">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Modelo</mat-label>
          <input matInput formControlName="modelo">
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Selecciona una categoría</mat-label>
          <mat-select formControlName="categoria">
            <ng-container *ngFor="let categoria of categorias;">
              <mat-option [value]="categoria.idCategoria">{{categoria.nombreCategoria}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Selecciona un estado</mat-label>
          <mat-select formControlName="estado">
            <ng-container *ngFor="let estado of estados;">
              <mat-option [value]="estado.idEstadoProducto">{{estado.nombreEstadoProducto}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div app-footer class="w-full flex justify-content-center">
    <div class="w-max flex gap-3">
      <button mat-raised-button color="danger" (click)="cerrarModalEditarProducto()">Cancelar</button>

      <button mat-raised-button [ngClass]="{'opacity-50': productoFormGroup.invalid}"
        [disabled]="productoFormGroup.invalid" class="bg-primary" (click)="EditarProductos()">Aceptar</button>
    </div>
  </div>
</app-modal> -->